In [2]:
import pandas as pd
import numpy as np

In [67]:
df1 = pd.read_json("./resources/Tasks/tagaddod-d8ffe--MsZkGFSCtYxntenMuVF-export.json", orient="index", dtype={"snapshot_datetime": 'datetime64[ns]'})
df2 = pd.read_json("./resources/Tasks/tagaddod-d8ffe--MszT9RZtTjcM5PwTCBH-export.json", orient="index", dtype={"snapshot_datetime": 'datetime64[ns]'})
df3 = pd.read_json("./resources/Tasks/tagaddod-d8ffe--MwWeqpG3yuQD7G2wcp8-export.json", orient="index", dtype={"snapshot_datetime": 'datetime64[ns]'})
df4 = pd.read_json("./resources/Tasks/tagaddod-d8ffe--N4SUsENXI1OF1qf8VxT-export.json", orient="index", dtype={"snapshot_datetime": 'datetime64[ns]'})
dfi = [df1, df2, df3, df4]

In [68]:
# this step is to fill collector_id null values with the collector_id of this collector
for d in dfi:
    d.fillna(value=(d[d["collector_id"].notna()]["collector_id"][0]), inplace=True)
    # after filling collector_id null, we can convert float64 into int64
    d["collector_id"] = d["collector_id"].astype("int64")

In [70]:
for i in df1[df1["meta-data"]!=df1["collector_id"]].index:
    for k, v in df1.loc[i]["meta-data"].items():
        df1.at[i, k]=v  
df1.drop("meta-data", axis=1, inplace=True)      # droping meta-data column as it havenot additional information

In [71]:
# concatenate the 4 files

df = pd.concat([df1, df2, df3, df4], axis=0, ignore_index=False)
df.index.name="idx"
# df.insert(0, 'collector_id', df.pop('collector_id'))        # optional step to make the collector_id column in the first

In [73]:
df.drop(index="meta-data", inplace=True)

In [74]:
df.to_csv("./ETL_pipe.csv", header=True, index=True)